/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/*fonts*/

@font-face {
    font-family: Museo-Slab;
    src: url(../fonts/Museo_Slab_500.otf);

}

@font-face {
    font-family: bebas;
    src: url(../fonts/bebas.otf);

}


/*global styles*/

header, section {

	margin-bottom: -2px;
}



h2 {

font-family: Museo-Slab, arial, sans-serif;
color: rgb(46,46,46);

}

p {

font-family: 'Open Sans', arial, sans-serif; 

}



button {


	
}

.button  {

		background-color: #d85300;
	border: 2px solid white;
	display: block;
	color: white;
	font-family: bebas, arial, sans-serif;
	font-size: 25px;
	text-decoration: none;
}

/*end global styles*/




.hidden {
	display: none;
}

.hiddenDesktop {
	display: none;
}

header img:nth-child(1) {
	
	width: 55px;
	float: left;
	margin-left: 9px;
	margin-top: 4px;
}


.header {
	width: 100%;
	overflow: hidden;


	
}

#headerContent {

	background-image: url("../images/headerimage.png");

	}



#heroimageContainer img{
	
	width: 700px;
	position: relative;
	left: 100%;
	margin-left: -200%;	

}

#heroimageContainer {

	width: 100%;
	overflow: hidden;
	text-align: center;

	position: relative;


}


/* menu functionality */

.header {
  background-color: transparent;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #424242;
}

.header li a {
  display: block;
  padding: 20px 20px;

  text-decoration: none;
  color: white;
  font-family: bebas, arial, sans-serif;
  text-align: center;
  font-size: 30px;
}

#middleNav {
	border-top: 2px solid rgba(255,255,255,.5);
	border-bottom: 2px solid rgba(255,255,255,.5);
}


  nav ul li a:nth-child(1) {

  	color: red;
  }

 .header li a:visited {
	color: white;
}


/* menu */

.menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.navicon {
 
  transition: background .2s ease-out;
    color: white;


}

.menu-icon {
  cursor: pointer;
  font-family: bebas, arial;
  text-align: center;
  float: right;
  font-size: 28px;
  position: relative;
  margin: 15px 20px 15px 0;
  width: 80px;
  height: 30px;
   background-color: rgba(0,0,0,0.3);
      border: 1px solid white;
}

#currentPage {

	color: #d85300;
}


.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}


.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


#heroimageText {

	position: absolute;
	z-index: 2;
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
	text-align: center;
	top: 18%;
	
}

#heroimageText .button {

width: 250px;
height: 40px;
 cursor: pointer;
 margin: auto;

}




#heroimageText p, h2 {

	margin-bottom: 8%;
}

#heroimageText h2 {

	font-size: 34px;
	padding: 0 5px 0 5px;

}

#heroimageText p {
	line-height: 31px;
	font-size: 20px;
	padding: 0 30px 0 30px;
}

/* featured */ 

#featured h2  {
	text-align: center;
	font-size: 9vw;
	padding-top: 4%;

}

#featured {

    display: flex;
    align-items: center;
 flex-direction: column;

}

.imgContainer {

	position: relative;

}

.imgContainer img {

	padding-bottom: 3%;
}

.imgContainer h3 {

	font-family: bebas;
	font-size: 30px;
	position: absolute;
	z-index: 4;
margin-left: 15%;
margin-right: 15%;
width: 70%;
color: white;
	text-align: center;

}

.titleContainer {

	width: 100%;
	height: 30px;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	z-index: 4;
	bottom: 72%;

}

#footer {

	width: 100%;
	background-color: #424242;
	height:  auto;
}

#footer p {

	font-family: bebas, arial, sans-serif;
	text-align: center;
	color: white;
	font-size: 30px;

}
